DJANGO_ENV=production
DEBUG=0
SECRET_KEY=YOUR_SECRET_KEY_HERE_CHANGE_THIS
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 your-domain.com

DJANGO_ADMIN_USER=admin
DJANGO_ADMIN_EMAIL=your-admin@email.com
DJANGO_ADMIN_PASSWORD=YOUR_SECURE_ADMIN_PASSWORD

DATABASE=postgres

DB_ENGINE=django.db.backends.postgresql
DB_DATABASE=boilerplatedb
DB_USER=postgres_user
DB_PASSWORD=YOUR_SECURE_DB_PASSWORD
DB_HOST=db
DB_PORT=5432